*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ecf0f3;
    height: 100vh;
}
html{
    scroll-behavior:smooth;
}
/*---header start---*/
#home.html{
    width: 100%;
    height: 100vh;
}
.navbar {
    background-color: white;
    height: 70px;
    position: fixed;
    width:100% ;
}
.navbar ul{
    padding: 15px;
    list-style:none;

}
a{
    color: #033b4a;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    border: 3px solid transparent;
    text-align: center;
}
ul li{
    display: inline;
    padding: 10px;

}
a:hover{
    background-color: #20c997;
    border-radius: 10px;
    color: #ecf0f3;
}
.home{
    position: relative;
}
.home h1{
   position: absolute;
   top:100px;
   left: 500px;
   font-weight: 800;
    color: #033b4a;
}
.home hr{
    position: absolute;
    top: 150px;
    left:600px;
    border: none;
    height: 3px;
    width: 300px;
    background-color: #20c997;
}
.img img{
    position: absolute;
    top: 200px;
    left: 20px;
    width: 700px;
    height: 500px;
    box-shadow: 2px 2px 2px rgb(0, 0,0.2);
    transition: all 0.3s ease;
}
.img img:hover{
    transform: scale(1.04);
}
.img .content{
    position: absolute;
    top: 300px;
    right: 50px;
}
.img .content h2{
    width: 500px;
    color: #033b4a;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
}
.img .content button{
    background-color: #20c997;
    color: #ecf0f3;
    padding: 7px;
    border-radius: 10px;
    margin: 10px;
    border: none;
    font-size: 15px;
}
/*---header end---*/

/*---mycourses start---*/
main #mycourses{ 
    height: 100vh;
    width: 100%;
    padding: 6rem 0;
}
#mycourses .word h1{
    text-align: center;
    font-weight: 800 ;
    color: #033b4a;
}
#mycourses .word hr{
    text-align: center;
    width: 100px;
    height: 3px;
    border: none;
    background-color: #20c997;
    margin:2px auto 0;
}
table{

    margin: 100px auto;
    text-align: center;
    width: 700px;
    height:400px;
    width: 80%;
    border: 1.5px solid transparent;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(0.2, 0.2,0.2);
}
th,td{
    border: 1px solid transparent;
    border-radius: 10px;
}
thead{
    background-color: #fff;

}
th{
    font-size: 30px;
    font-weight: 800;
    color: #033b4a;
    letter-spacing: 2px;
    padding: 10px;
}
td{
    font-size:20px ;
    font-weight: 500;
    color: #033b4a;
}
.item{
    transition: all 0.3s ease;
}
.item:nth-child(even){
    background-color:#fff;
}
.item:hover{
    transform: scale(1.04);
    background-color: #20c997;
    color:aliceblue;
}
/*--mycourses end--*/

/*--addcourses start--*/
main #addcourses{
    height: 100vh;
    width: 100%;
    padding: 6rem 0;
}
#addcourses .words h1{
    text-align: center;
    font-weight: 800 ;
    color: #033b4a;
}
#addcourses .words hr{
    text-align: center;
    width: 100px;
    height: 3px;
    border: none;
    background-color: #20c997;
    margin:2px auto 0;
}
#addcourses form{
    width: 900px;
    height: 400px;
    margin: 6rem auto;
    border: 1px solid;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    column-gap: 2rem;
    box-shadow: 2px 2px 2px rgb(0, 0,0.2);
    background-color:#ecf0f346;
}  
#addcourses form label{
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #033b4a;
} 
#addcourses form input,#AddCourses textarea{
    width: 800px;
    padding:5px;
    text-align: center;
    margin: 10px 30px;
    border-radius: 10px;
    
}
#addcourses form button{
    width: 300px;
    text-align: center;
    background-color:aliceblue;
    color: #033b4a;
    margin:19px auto ;
    padding: 5px;
    border-radius: 10px;
    font-size: 17px;
}
#addcourses form button:hover{
    color: #fff;
    background-color: #20c997;
}
/*--addcourses end--*/

/*--contant us start*/
main #contantus{
    height: 100vh;
    width: 100%;
    padding: 6rem 0;
}
#contantus .wordss h1{
    text-align: center;
    font-weight: 800 ;
    color: #033b4a;
}
#contantus .wordss hr{
    text-align: center;
    width: 100px;
    height: 3px;
    border: none;
    background-color: #20c997;
    margin:2px auto 0;
}
#contantus form{
    width: 900px;
    
    margin: 6rem auto;
    border: 1px solid;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
    box-shadow: 2px 2px 2px rgb(0, 0,0.2);
    background-color:#ecf0f346;
}  
#contantus form input,textarea{

    width: 800px;
    height: 50px;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin: 10px auto;
}
#contantus form button{
    width: 300px;
    text-align: center;
    background-color:aliceblue;
    color: #033b4a;
    margin:15px auto ;
    padding: 5px;
    border-radius: 10px;
    font-size: 17px;
}
#contantus form button:hover{
    color: #fff;
    background-color: #20c997;
}
/*--contantus end--*/

/*--footer start--*/
footer{
    background-color: #033b4a;
    color: #ecf0f3;
    padding: 15px;
    text-align: center;
    margin: 15px;

}
/*--footer end--*/

/*responsive start*/
@media screen and (max-width:768px) {
    nav ul{
         flex-direction: column;
         align-items: center;
    }
    .navbar ul{
        text-align: center;
    }
    .home h1{

       left:140px;
       width: 550px;
    }
    .home hr{
        
        top:180px;
       left:210px;
       
    }
    .img img{
       width:600px; 
        top:300px;
        left:60px;
    }
    .img .content{
        top:900px;
        left:60px;
    }
    #addcourses form{
        width: 600px;
        height: 500px;
        margin: 2rem 6rem;
    }
    #addcourses form input,#addcourses form textarea{
        width: 550px;
        
    }
    #contantus form{
        width: 600px;
        height:300px;
        margin: 2rem 6rem;
    }
    #contantus form input,textarea{
        width: 550px;
    }

}
/*responsive end*/












































































































































/*---header end---*/
